.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  background-color: #25b6d1;
  padding-bottom: 2em;
  border: 1px solid rgba(0, 0, 0, .25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .25);
  padding-top: 10px;
  max-width: 1000px;
  margin: 1em auto;
  border-radius: 20px;
}

.site-masthead h1 {
  font-size: 3em;
  border-bottom: 2px solid bluw;
  color: white;
  font-family: 'Josefin Sans', sans-serif;

  font-size: 3em;
  margin-bottom: -.2em;
  padding: 0 2rem;
  font-weight: 700;

  // @media (min-width: $on-tablet) {
  //   font-size: 4em;
  // }
}

.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1.25em;
  margin: 0 auto;
  // max-width: 50%;
  line-height: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 2rem;
  font-weight: 300;
  font-size: 1.1em;
  font-weight: 100;
  color: #f9f9f9;
  opacity: .7;

  // @media (min-width: $on-tablet) {
  //   font-size: 2em;
  // }
}

.hero-list {
  display: inline-block;
  *display: inline;
  zoom: 1
}

.hero-text {
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  opacity: .9;
  font-weight: 400;

  a {
    color: white;
    opacity: .6;
  }

  a:hover,
  a:active {
    transition: ease-in-out .5s;
    opacity: 1;
  }

  #discord-link {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    opacity: .8;
    text-align: center;
    background-color: #25b6d1;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
    padding: 1em;
    display: block;
    margin-top: 0;
  }
}

/* Style for the container div that will hold the lists */
.list-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  opacity: .8;
  margin: 0 auto;
  /* Use flexbox to arrange the lists side by side */
}

/* Style for each unordered list */
.list {
  // list-style-type: none;
  /* Remove default list bullets */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  font-weight: 400;
}

/* Style for list items (optional, for visual purposes) */
.list li {
  margin-bottom: 5px;
  text-align: justify;
  line-height: 1.2em;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: .5em 1em;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: .85em;
  opacity: .7;
  border-top: 1px solid white;
}

.subscribe {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: white;
  opacity: .8;
  text-align: center;
  background-color: #25b6d1;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
  padding: 1em;
  display: block;
  margin: 3em auto;

  h3 {
    margin: 0;
  }

  input {
    width: calc(100% - 2em);
    padding: 1em;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8em;
    font-weight: 400;
  }

  button {
    width: 100%;
    padding: 1em;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    border: none;
    font-size: .8em;
  }

  button:hover {
    cursor: pointer;
  }
}