---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
<!-- {% include menu.html %} -->
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
{% include back-link.html %}
{% else %}
<header class="site-masthead">
  <!-- {% include menu.html %} -->
  {% if site.title %}
  <h1>
    <!-- {{ site.title | capitalize }} -->
    STOP THE SPRAWL
  </h1>
  {% endif %}
  {% if site.title %}
  <h2>
    {{ site.description }}
  </h2>
  {% endif %}
</header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <div class="hero">
    <p class="hero-text">
      Campbell River needs to build up, not out. By bringing land south of Jubilee Parkway into the city and encouraging
      development there, we are taking on infrastructure liability - the roads and pipes - that we cannot afford to
      maintain.
    </p>
    <div class="list-container">
      <ul class="list">
        <li>We have already built far more infrastructure than we can afford, requiring enormous tax rises over the next
          20 years just to rebuild our crumbling roads and bursting pipes.</li>
        <li>We cannot throw more wood on the fire; we cannot throw good money after bad.
        </li>
        <li>It is not the developer's fault. It is ours - we have forgotten how to build places that can sustain
          themselves, and made it illegal.</li>
        <li>We have to make the city we already have financially sustainable, or we will face ever growing tax increases
          and eventually bankruptcy.
        </li>
        <li>First we need to legalise the type of gradual densification we want to see, then teach developers big and
          small how to build it.
        </li>
        <li>This is not a zero sum game - both developers and the city can profit.
        </li>
        <li>But currently we are massively subsidising subdivisions, and this has to stop. We have to be realistic and
          stop building infrastructure that can never pay for itself.
        </li>
      </ul>
      <!-- <ul class="list">
        <li>Aenean vitae enim venenatis, mollis.</li>
        <li>Etiam non diam egestas, facilisis mi.</li>
        <li>Duis quis orci sit amet urna porta lacinia.</li>
      </ul> -->
    </div>
    <!-- <p class="hero-text">
      <a id="discord-link" href="https://discord.gg/6YzrZgTdV5">https://discord.gg/6YzrZgTdV5</a>
    </p> -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe">
          <div class="subscribe__inner">
            <div class="subscribe__content">
              <h3 class="subscribe__title">Join Our Mailing List</h3>
            </div>
            <form class="subscribe-form validate" id="sib-form" method="POST"
              action="https://4b505cf7.sibforms.com/serve/MUIFAMJbTEFAzjJxyeAMb38TYZik50Cp97YVpebmnmY-tFJBE-9_lYXIH0ckuQxs53O0UYeyDAqUJkSgpDaEMNddILv4B8pIc0O4jwlFimRfq1-8svYhhBBMle6OWbmY1ixAwhk8DjnRnLSlWPpxUYUtQKNdsa6EaDHFAbYNf3OiuipxrbyvacSsepOQiMJjggFj75QDfkfKZN1a">
              <div style="padding: 8px 0;">
                <div class="sib-input sib-form-block">
                  <div class="form__entry entry_block">
                    <div class="form__label-row ">
                      <div class="entry__field">
                        <input class="input subscribe-email required email " type="text" id="EMAIL" name="EMAIL"
                          autocomplete="off" placeholder="Your Email Address (eg. i-love-campbell-river@gmail.com)"
                          data-required="true" required />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding: 8px 0;">
                <div class="sib-form-block" style="text-align: left">
                  <button class="button button--primary subscribe-button" id="membedded-subscribe" form="sib-form"
                    type="submit" name="subscribe">Connect</button>
                </div>
              </div>
            </form>

          </div>
          <div class="subscribe__bg lazy" data-bg="/images/nanaimo-photos/nanaimo-harbour-3.jpg"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
    Page {{ paginator.page }}
    {% else %}
    Contents
    {% endif %}
  </h1> -->

  <!-- {% if site.paginate and site.paginate_path %} -->

  <!-- <ul class="post-list">
    {% for post in paginator.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul> -->

  <!-- {% if paginator.total_pages > 1 %} -->

  <!-- <div class="post-pagination">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
    <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      class="pagination-previous btn">Newer&nbsp;&rang;</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
  </div> -->

  <!-- {% endif %}

  {% else %}

  <ul class="post-list">
    {% for post in site.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% endif %} -->


</main>

<div class="footer">
  2023 © Stop the Sprawl - This campaign is led by Strong Towns Campbell River, & CR Creeks, Trees and Trails. This is
  a local Strong Towns conversation. No affiliation with the City of Campbell River.
</div>